@import "../../../../scss/import.scss";
.propagateNewsDetail {
  background: url("../../../../assets/imgs/backgroundNews.png") center center
    no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 165px;
  .--mt {
    margin-top: 24px;
  }
  &__title {
    @include flexMid;
  }
  &__wrapper {
    margin: 60px 0 80px;
    padding: 0 180px;
    h3 {
      font-weight: 600;
      font-size: 24px;
      line-height: 40px;
    }
    .date {
      margin-top: 16px;
      font-size: 14px;
      color: #e0e0e0;
    }
    .mainImg {
      width: 100%;
      height: 564px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    h4 {
      line-height: 25px;
      font-size: 14px;
    }
    .text {
      line-height: 25px;
    }
    .imgWrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 424px;
      column-gap: 16px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &__relative {
    &--paginate {
      display: flex;
      align-self: center;
      justify-content: space-between;
      margin-bottom: 32px;
      .name {
        color: #69ffc9;
        font-size: 24px;
        font-weight: 600px;
      }
      .buttonGroup {
        display: flex;
        .buttonRedirect {
          margin-left: 8px;
        }
      }
    }
    &--slider {
      padding-bottom: 80px;
      .newsItem {
        flex-direction: column;
        &__img {
          height: 284px;
        }
        .button {
          display: none;
        }
      }
    }
  }
}
