@import "../../../scss/import.scss";

.relicDataWrapper {
  hr {
    border: 0.5px solid #4f4f4f;
    margin: 0 !important;
  }
  .relicData {
    padding: 24px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &--text {
        font-weight: 500;
        font-size: $fz-default;
        color: $green-cl;
      }
      &--icon {
        display: flex;
        align-items: center;
        transition: all 600ms ease;
      }
      &--icon-unActive{
        transform: rotate(180deg);
    }
    }
    &__content {
      font-weight: 500;
      font-size: $fz-small;
      color: #ffffff;
    }
  }
}
