@import "../../../../scss/import.scss";
.relicsFilterSort {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 15%;
  border-radius: 8px;
  border: 1px solid #f8f8f8;
  cursor: pointer;
    margin-left: auto;
  &__text {
    font-weight: 500;
    font-size: $fz-default;
    color: $green-cl;
    pointer-events: none;
  }
  &__select {
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    width: 100%;
    height: 200px;
    border: 1px solid #f8f8f8;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    &--option {
      font-weight: 500;
      font-size: $fz-default;
      color: #f8f8f8;
      padding: 12px 16px;
      line-height: 24px;
      &:hover{
        color: $green-cl;
      }
    }
    
 
  }
  &__triangle{
    position: absolute;
    top: calc(100% + 12px);
    right: 14px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #f8f8f8;
    width: 0px;
    height: 0px;
}
  svg {
    pointer-events: none;
  }
}
