@import "../../../scss/import.scss";
.banner {
  height: 100vh;
  background: url(../../../assets/imgs/banner.png);
  background-repeat: no-repeat;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
  }
  .container {
    display: flex;
    padding-top: 320px;
    gap: 40px;
    .title {
      width: 50%;
      z-index: 50;
      &-name {
        font-family: "Cormorant";
        font-weight: 600;
        font-size: $fz-largest;
        color: $white-cl;
        text-align: left;
        display: block;
        margin-bottom: 24px;
        line-height: 141%;
        position: relative;
        .overlay {
          position: absolute;
          background-color: $black-cl;
          width: 100%;
        }
      }
      &-address {
        font-family: "Cormorant";
        font-weight: 500;
        font-size: $fz-small;
        color: #d2d0d0;
      }
    }
    .scroll {
      width: max-content;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      max-height: 580px;
      gap: 30px;
      z-index: 50;

      &__navigation {
        display: flex;
        margin-left: auto;
        gap: 40px;
        &--previous,
        &--next {
          animation: scale 0.6s ease-in 4.5s;
          border-radius: 12px;
          padding: 8px 24px;
          border: 2px solid #989aad;
          cursor: pointer;
          &:hover {
            background-color: white;
            border: 2px solid white;
            svg {
              path {
                fill: black;
              }
            }
          }
        }
        &--next {
          svg {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .elasticball {
    display: flex;
    justify-content: center;
    position: relative;
    height: 6rem;
    &:before {
      content: "";
      width: 2rem;
      height: 2rem;
      bottom: 0;
      opacity: 0;
      border-radius: 50%;
      position: absolute;
      background-color: white;
      transform: scaleY(0.5) translateY(1rem);
      animation: elasticball-bottom 0.5s 0.3s infinite;
    }

    &__ball {
      width: 1.5rem;
      height: 1.5rem;
      transform-origin: 50% 100%;
      animation: elasticball 0.5s infinite cubic-bezier(1, -0.01, 0, 1);

      i {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
        background-color: black;

        animation: elasticball-color 2s infinite;
      }
    }
  }
  @keyframes elasticball {
    0% {
      transform: translateY(0) scaleY(1);
    }
    50% {
      transform: translateY(4rem) scaleY(0.7);
    }
    100% {
      transform: translateY(0) scaleY(1);
    }
  }
  @keyframes elasticball-color {
    0% {
      background-color: $grey-light-cl;
    }
    30% {
      background-color: $grey-light-cl;
    }
    50% {
      background-color: $black-cl;
    }
    80% {
      background-color: $black-cl;
    }
  }
  @keyframes elasticball-bottom {
    0% {
      transform: scale(1, 0.5) translateY(1rem);
      opacity: 0.3;
    }
    100% {
      transform: scale(2, 0.5) translateY(1rem);
      opacity: 0;
    }
  }

  @keyframes scale {
    from {
      transform: scale(0.5);
    }
  }
}
