@import "../scss/variables.scss";
h2.title {
  display: inline-block;
  font-size: $fz-large;
  font-family: "Playfair Display";
  position: relative;
  border-bottom: 1px solid $white-cl;
  padding-bottom: 4px;
  text-transform: uppercase;
  margin-top: 48px;
}
.swal2-popup {
  box-shadow: -5px 0px 81px rgba(211, 216, 224, 0.25);
  width: 362px !important;
  height: 388px;
  border-radius: 8px;
  position: relative;
  .wrapper {
    @include absMid;
    .swalMainText {
      color: #f2f2f2;
      font-weight: 600;
      font-size: 24px;
    }
    .swalSubText {
      margin-top: 8px;
      color: #bdbdbd;
      font-size: 14px;
    }
  }
  .swalSubmit {
    background: #69ffc9 !important;
    border-radius: 8px;
    width: 170px;
    height: 48px;
    color: #333333 !important;
    font-weight: 500 !important;
    box-shadow: 0px 4px 14px rgba(106, 255, 190, 0.47);
    &:focus {
      box-shadow: 0px 4px 14px rgba(106, 255, 190, 0.47) !important;
    }
  }
}

.buttonRedirect {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $white-cl;
  width: 40px;
  height: 26px;
  border-radius: 8px;
  cursor: pointer;
  svg {
    width: 20px;
  }
  &.--prev {
    svg {
      transform: rotate(180deg);
    }
  }
}
input::placeholder,
textarea::placeholder {
  font-size: 14px;
  font-family: "pp";
}
input,
textarea {
  color: white !important;
  font-family: "pp";
}
