@font-face {
  font-family: "pp";
  src: url("../assets/fonts/SVN-Poppins-Regular.woff2") format("woff2"),
    url("../assets/fonts/SVN-Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
