// colors
$white-cl: #f2f2f2;
$black-cl: #000000;
$grey-cl: #434547;
$green-cl: #69ffc9;
$brown-cl: #665000;
$grey-light-cl: #bababa;

// transition
$t: 0.4s;
$cubic: cubic-bezier(0.84, 0.13, 0.33, 0.97);

// font-size
$fz-small: 14px;
$fz-default: 16px;
$fz-medium: 20px;
$fz-large: 32px;
$fz-largest: 40px;
